
	@* var products = ViewBag.Product as List<Product>; *@
    @model List<Product>



<form method="post" asp-action="EditMenu">
    <table>
        <thead>
            <tr>
                <th>Ürün</th>
                <th>Fiyat</th>
                <th>Görünür</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Model[i].Name
                        <input type="hidden" name="prod[@i].Id" value="@Model[i].Id" />
                        <input type="hidden" name="prod[@i].Name" value="@Model[i].Name" />
                    </td>
                    <td>
                        <input type="number" name="prod[@i].Price" value="@Model[i].Price" step="0.01" />
                    </td>
                    <td>
                        <input type="checkbox" name="prod[@i].IsAvailable" value="true" @(Model[i].IsAvailable ? "checked" : "") />
                        <input type="hidden" name="prod[@i].IsAvailable" value="false" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary"">Save</button>
</form>
<div>
    <button onclick="window.location.href='@Url.Action("CreateCoffee", "Admin")'" class="btn btn-primary mt-1">Create New Coffee</button>
</div>